<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Outfit WebApp - Insertar/Actualizar Tipo de Ropa')"></head>

<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">
    <h1 th:text="${tipoDeRopa.id == null} ? #{msg.tipoderopa-form.add} : #{msg.tipoderopa-form.edit}"></h1>

    <!-- Mensaje de error -->
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <!-- Formulario de inserción/actualización -->
    <form th:action="${tipoDeRopa.id == null} ? @{/tipos-de-ropa/insert} : @{/tipos-de-ropa/update}"
          th:object="${tipoDeRopa}" method="post" class="mt-4">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="nombre" class="form-label" th:text="#{msg.tipoderopa-form.name}"></label>
            <input type="text" th:field="*{nombre}" id="nombre" class="form-control" required maxlength="50" />
            <div th:if="${#fields.hasErrors('nombre')}" class="text-danger" th:errors="*{nombre}"></div>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label" th:text="#{msg.tipoderopa-form.description}"></label>
            <textarea th:field="*{descripcion}" id="descripcion" class="form-control" required maxlength="255"></textarea>
            <div th:if="${#fields.hasErrors('descripcion')}" class="text-danger" th:errors="*{descripcion}"></div>
        </div>

        <button type="submit" class="btn btn-primary" th:text="${tipoDeRopa.id == null} ? #{msg.tipoderopa-form.create} : #{msg.tipoderopa-form.update}">
        </button>
    </form>

    <!-- Volver a la lista de tipos de ropa -->
    <a th:href="@{/tipos-de-ropa}" class="btn btn-secondary mt-3" th:text="#{msg.tipoderopa-form.returnback}"></a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
